include ../bemto/bemto
mixin validol(isElement,name,subclass)
  if isElement
    +e()(class="#{subclass}",ng-class!="!validated.#{name}.$pristine && (validated.#{name}.$all===false && 'error'||validated.#{name}.$all===true && 'success')")
      +e()(id="#{name}",name="#{name}")&attributes(attributes)
  else
    +b()(class="#{subclass}",ng-class!="!validated.#{name}.$pristine && (validated.#{name}.$all===false && 'error'||validated.#{name}.$all===true && 'success')")
      +e()(id="#{name}",name="#{name}")&attributes(attributes)
      
mixin e-validol(name,subclass)
  +validol(true,name,subclass)&attributes(attributes)
mixin b-validol(name,subclass)
  +validol(false,name,subclass)&attributes(attributes)
